<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <title>sync-player</title>
    <link rel="icon" href="./favicon.png">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/coplay.css">
</head>

<body>
    <div id="app"></div>
</body>
<script src="./script/vue.min.js"></script>
<script src="./script/socket.io.js"></script>
<script src="./script/goeasy-1.1.1.js"></script>
<script src="./script/im-browser.min.js"></script>
<script type="text/x-template" id="template">
    <div class="video-container">
        <div class="video-box">
            <h2 class="video-name"></h2>
            <video
                preload="auto"
                controls
                ref="video"
                @play="videoPlay"
                @pause="videoPause"
                @seeking="videoSeeking"
                @ratechange="videoRateChange"
                style="width: 100% ;height: auto"
                ></video>
        </div>
        <div class="video-control-wrapper">
            <div class="address-input">
                <input v-model="videoSrc" type="text" placeholder="视频地址">
                <a href="javascript:;" class="submit-btn" @click="addVideo">添加视频</a>
            </div>
            <h2 class="video-list-title">视频列表：</h2>
            <ul class="video-list">
                <li class="video-item" v-for="(videoItem,index) in videoList" :key="index">
                    <p class="video-name">{{videoItem}}</p>
                    <div class="button-box">
                        <a href="javascript:;" class="button-play" @click="playVideoItem(videoItem)">播放</a>
                        <a href="javascript:;" class="button-play" @click="deleteVideoItem(index)">删除</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</script>
<script src="./script/hls.js"></script>
<script src="./script/main.js"></script>

</html>